.header {
  font-size: 1.8rem;
  color: black;
}

.title {
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

.nav {
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 200px;
  list-style-type: none;
  color: #111;
}

a {
  color: #111;
  text-decoration: none;
}

.span {
  width: 20px;
  height: 3px;
  margin: 2px 0;
  background: black;
  display: block;
}

.btn {
  height: 36px;
  width: 100px;
  border-radius: 24px;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .header {
    margin: 1rem 2rem;
  }

  .nav {
    flex-direction: column;
    margin: 0;
  }

  .nav li {
    padding: 10px 0;
  }

  .title {
    order: -1;
  }
}