.commentContainer {
  padding: 20px;
  padding-right: 30px;
}

.commentContainer .commentHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.commentContainer .commentImageAndNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.commentContainer .commenterImageContainer {
  display: flex;
  width: fit-content;
  border-radius: 50%;
  overflow: hidden;
}

.commentContainer .commenterImage {
  width: 2.5rem;
  height: 2.5rem;
}
.commentContainer .commenterName {
  padding-left: 1rem;
}

.commentContainer .commentText {
  padding-left: 1rem;
}
