.votingPageContainer {
  display: flex;
}

.votingPageContainer .dropzoneSectionContainer {
  width: 65%;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
}

.votingPageContainer .commentsSectionContainer {
  width: 35%;
  position: sticky;
  max-height: 100vh;
  top: 0;
  padding-right: 2rem;
  padding-top: 4rem;
}
